
<form action ="/robots" method ="post">
  <div class="row">
    <input type="form" name="robot[name]" placeholder="name" value="" id = "robot-name">
  </div>

  <div class="row">
    <input type="form" name="robot[city]" placeholder="city"  value="" id = "robot-city">
  </div>

  <div class="row">
    <input type="form" name="robot[state]" placeholder="state" value="" id = "robot-state">
  </div>

  <div class="row">
    <input type="form" name="robot[avatar]"placeholder="avatar" value="" id = "robot-state">
  </div>

  <div class="row">
    <input type="form" name="robot[birthdate]" placeholder="birthdate" value="" id = "robot-birthdate">
  </div>

  <div class="row">
    <input type="form" name="robot[date hired]" placeholder="date hired" value="" id = "robot-date-hired">
  </div>

  <div class="row">
    <input type="form" name="robot[department]" placeholder="department" value="" id="robot-department">
  </div>

  <input type='submit' value = "Create Robot">
</form>
